<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DllExport" version="1.7.4" targetFramework="net461" />
  <package id="Maca134.Arma.Serializer" version="0.0.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="UnmanagedExports" version="1.2.7" targetFramework="net461" />
</packages>